<nb-card>
  <nb-card-header><b>Cout de revient:</b>
    <!--<nb-select selected="2">
            <nb-option value="1">2017</nb-option>
            <nb-option value="2">2018</nb-option>
            <nb-option value="3">2019</nb-option>
            <nb-option value="4">2021</nb-option>
        </nb-select>-->
  </nb-card-header>
  <nb-card-body>
    <table class="table table-hover">
      <thead>
        <tr>

          <th scope="col">Elements</th>
          <th scope="col">Bovins</th>
          <th scope="col">Laits</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Cout production</th>
          <th>{{coutTransport + coutBovin +
            transportAliment + prixAchats + salaire + sante + electricite + eau | currency : 'XOF'}} </th>
          <th>{{coutSterilisant + coutEmballage + coutChauffage + salaireLait | currency : 'XOF'}}</th>
        </tr>
        <tr>
          <th>Frais distribution</th>
          <th>0</th>
          <th>0</th>
        </tr>
        <tr>
          <th>Distribution commissionnaire</th>
          <th>0</th>
          <th>0</th>
        </tr>
        <tr>
          <th>Cout de revient</th>
          <th>{{coutTransport + coutBovin +
            transportAliment + prixAchats + salaire + sante + electricite + eau | currency : 'XOF'}}</th>
          <th>{{coutSterilisant + coutEmballage + coutChauffage + salaireLait | currency : 'XOF'}}</th>
        </tr>
        <tr>
          <th>Chiffre d'affaire</th>
          <th>{{vente | currency : 'XOF'}}</th>
          <th>{{quantiteLait * 1000 | currency : 'XOF'}}</th>
        </tr>
        <tr>
          <th>Resultat analythique</th>
          <th>{{vente - (coutTransport + coutBovin +
            transportAliment + prixAchats + salaire + sante + electricite + eau) | currency : 'XOF'}}</th>
          <th>{{(quantiteLait * 1000) - (coutSterilisant + coutEmballage + coutChauffage + salaireLait) | currency :
            'XOF'}}</th>
        </tr>
        <tr>
          <th>Resusltat analythique globale</th>
          <th colspan="2" align="center">{{(vente - (coutTransport + coutBovin +
            transportAliment + prixAchats + salaire + sante + electricite + eau)) + ((quantiteLait * 1000) -
            (coutSterilisant + coutEmballage + coutChauffage + salaireLait)) | currency : 'XOF'}}</th>
        </tr>

      </tbody>
    </table>
    <!-- <table border="2">
            <tr>
                <th rowspan="2">Elements</th>
                <th colspan="3">lait</th>
            </tr>
            <tr>
                <th>QU</th>
                <th>CU</th>
                <th>Montants</th>
            </tr>
        </table> -->
  </nb-card-body>
</nb-card>