@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  ngx-back-bovin {
    display: flex;
    height: 522px;
    width: 100%;

    ::ng-deep chart {
      display: flex;
      height: 100%;
      width: 530px;
    }
  }
  .flip-icon {
    position: absolute;
    right: 0.625rem;
    top: 1rem;
    @include nb-rtl(right, auto);
    @include nb-rtl(left, 0.625rem);
    cursor: pointer;
  }

  ::ng-deep {

    .flipped {
      .back-container {
        .flip-icon {
          transform: scaleX(-1);
        }
      }

      .front-container {
        .flip-icon {
          display: none;
        }
      }
    }
  }
   
//   ngx-courbe-production{
//     display: flex;
//     height: 522px;
//     width: 100%;

//     ::ng-deep chart {
//       display: flex;
//       height: 100%;
//       width: 530px;
//     }
// }
}


