<nb-card>
    <nb-card-header><b>Cout d'achats des matières premières: <span>Cout d'achats aliment: {{prixAchats + transportAliment | currency : 'XOF' }}</span></b>
        <!--<nb-select selected="2">
            <nb-option value="1">2017</nb-option>
            <nb-option value="2">2018</nb-option>
            <nb-option value="3">2019</nb-option>
            <nb-option value="4">2021</nb-option>
        </nb-select>-->
    </nb-card-header>
    <nb-card-body>
        <table class="table table-striped table-hover">
            <thead>

                <tr>
                    <th rowspan="1" colspan="1">Elements</th>
                    <!-- <th rowspan="1" colspan="3" style="width: 100px;">Bovins</th> -->
                    <th>Quantite</th>
                    <th>Cout unitaire</th>
                    <th>Montants</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <th scope="row">Prix d'achats</th>
                    <th>{{nbreBovin}}</th>
                    <th>---</th>
                    <th>{{coutBovin | currency : 'XOF' }}</th>
                </tr>
                <tr>
                    <th scope="row">Frais d'approvisionnement</th>
                    <th>{{nbreBovin}}</th>
                    <th>---</th>
                    <th>{{coutTransport | currency : 'XOF' }}</th>
                </tr>
                <tr>
                    <th scope="row">Cout d'achat</th>
                    <th>{{nbreBovin}}</th>
                    <th>---</th>
                    <th> {{coutBovin + coutTransport | currency : 'XOF'}}</th>
                </tr>
                <tr>
                    <th scope="row">Stock initial</th>
                    <th>{{nbreBovinT - nbreBovin}}</th>
                    <th>---</th>
                    <th> {{coutExistant | currency : 'XOF' }}</th>
                </tr>
                <tr>
                    <th scope="row">Existant</th>
                    <th>{{nombreTotaleBovin}}</th>
                    <th>{{ cump | currency : 'XOF'}} </th>
                    <th> {{coutBovinT | currency : 'XOF'}} </th>
                </tr>
                <tr>
                    <th scope="row">Sortie</th>
                    <th>{{bovinVendu}} </th>
                    <th>{{cump | currency : 'XOF' }} </th>
                    <th> {{bovinVendu * cump | currency : 'XOF' }}</th>
                </tr>
                <tr>
                    <th scope="row">Stock final theorique</th>
                    <th>{{stockTheorique}} </th>
                    <th>{{cump | currency : 'XOF' }} </th>
                    <th> {{ stockTheorique * cump | currency : 'XOF'}}</th>
                </tr>
                <tr>
                    <th scope="row">Stock final reel</th>
                    <th>{{bovinReelle}}</th>
                    <th>{{cump | currency : 'XOF' }} </th>
                    <th>{{bovinReelle * cump | currency : 'XOF' }}</th>
                </tr>
                <tr>
                    <th scope="row">Difference inventaire</th>
                    <th>{{difference}}</th>
                    <th>---</th>
                    <th>{{ ((bovinReelle * cump ) - (stockTheorique * cump) ) | currency : 'XOF'}}</th>
                </tr>
                <tr>
                    <th scope="row">Difference Stock</th>
                    <th>---</th>
                    <th>---</th>
                    <th>{{((bovinReelle * cump ) - coutExistant) | currency : 'XOF' }}</th>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>