<h1 id="title" class="title">KoSsam Authentification</h1>
<!-- <img src="../../../assets/images/logoK (2).jpg" class="img-circle" width="304" height="236"> -->
<style>
  ::ng-deep .navigation .link nb-icon {
    display: none !important;
  }
</style>
<p class="sub-title">La connexion est requise.</p>
<div class="alert alert-success" *ngIf="messages">{{messages}}</div>
<div class="alert alert-danger" *ngIf="errors">{{errors}}</div>
<form (ngSubmit)="SeConnecter()">
  <div class="form-group">
    <label for="exampleInputEmail1">Nom d'utilisateur</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" [(ngModel)]="user.email" placeholder="Email" required >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="user.password" placeholder="Entrez votre mot de passe" required>
  </div>
  <button type="submit" class="btn btn-primary">Se connecter</button>
</form>