<div class="row">
    <div class="col">
        <nb-card>
            <nb-card-header>Telecharger rapport</nb-card-header>
            <nb-card-body>
                <button type="button" class="btn btn-primary">Rapport Mensuel</button>
            </nb-card-body>
        </nb-card> 
    </div>
    <div class="col">
        <nb-card>
            <nb-card-header>Rapport periode bien determinée</nb-card-header>
            <nb-card-body>
                <button class="btn btn-success">
                    Rapport periode
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>
