<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
    <nb-card-front>
      <nb-card size="tiny">
       <ngx-f-natalite></ngx-f-natalite>
        <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card size="tiny">
        <ngx-b-natalite></ngx-b-natalite>
        <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>