<nb-card>
    <nb-card-header><b>Cout et charge des Bovins:</b>
        <!--<nb-select selected="2">
            <nb-option value="1">2017</nb-option>
            <nb-option value="2">2018</nb-option>
            <nb-option value="3">2019</nb-option>
            <nb-option value="4">2021</nb-option>
        </nb-select>-->
    </nb-card-header>
    <nb-card-body>
        <table class="table table">
            <thead>
                <tr>
                    <th rowspan="1" colspan="1">Elements</th>
                    <th>Montants</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Eau</th>

                    <th>{{eau | currency : 'XOF'}}</th>
                </tr>
                <tr>
                    <th>Electricite</th>

                    <th>{{ electricite | currency : 'XOF'}}</th>
                </tr>
                <tr>
                    <th>Sante</th>
                    <th>{{sante | currency : 'XOF'}}</th>
                </tr>
                <tr>
                    <th>MOD entretien Bovins</th>
                    <th>{{ salaire | currency : 'XOF'}}</th>
                </tr>
                <tr>
                    <th>Consommation</th>
                    <th>{{transportAliment + prixAchats | currency : 'XOF'}}</th>
                </tr>
                <tr>
                    <th>cout Bovins</th>
                    <th>{{coutTransport + coutBovin | currency : 'XOF'}}</th>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Cout globale</th>
                    <th> <b>{{coutTransport + coutBovin +
                            transportAliment + prixAchats + salaire + sante + electricite + eau | currency : 'XOF'}}</b>
                    </th>
                </tr>
            </tfoot>
        </table>
    </nb-card-body>
</nb-card>