<div class="row">
    <div class="col col-lg-6 col-xxxl-4">
        <ngx-stock></ngx-stock>
    </div>
    <div class="col col-lg-6">
        <ngx-cout></ngx-cout>
    </div>

</div>
<div class="row">
    <div class="col-lg-6">
        <ngx-consommation-jour></ngx-consommation-jour>
    </div>
</div>


<div class="row">
    <div class="col col-md-3 col-xxxl-4">

    </div>
    <div class="col col-md-3 col-xxxl-4">

    </div>
    <div class="col col-md-3 col-xxxl-4">

    </div>
    <div class="col col-md-3 col-xxxl-4">

    </div>
</div>