<nb-reveal-card>
    <nb-card-front>
        <nb-card accent="success">
           <ngx-front-stock></ngx-front-stock>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
        <nb-card accent="primary">
           <ngx-back-aliment></ngx-back-aliment>
        </nb-card>
    </nb-card-back>
</nb-reveal-card>
<!-- 
<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
    <nb-card-front>
        <nb-card size="tiny">
            <ngx-front-stock></ngx-front-stock>
            <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
        <nb-card size="tiny">
            <ngx-back-aliment></ngx-back-aliment>
            <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
        </nb-card>
    </nb-card-back>
</nb-flip-card> -->