
    ngx-card-pie {
            display: block;
            height: nb-theme(card-height-medium);
            width: 100%;
        
            ::ng-deep chart {
              display: block;
              height: 100%;
              width: 100%;
            }
          }

