<div class="header bg-gradient-warning pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0" *ngIf="nombreMaladie > 1">Maladies</h5>
                  <h5 class="card-title text-uppercase text-muted mb-0" *ngIf="nombreMaladie <= 1">Maladie</h5>
                  <span class="h2 font-weight-bold mb-0">{{nombreMaladie}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    M
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0" *ngIf="bovinMalade > 1 ">Bovins Malades</h5>
                  <h5 class="card-title text-uppercase text-muted mb-0" *ngIf="bovinMalade <= 1 ">Bovin Malade</h5>
                  <span class="h2 font-weight-bold mb-0">{{bovinMalade}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    M
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0" *ngIf="bovinMort > 1">Bovins morts</h5>
                  <h5 class="card-title text-uppercase text-muted mb-0" *ngIf="bovinMort <= 1">Bovin mort</h5>
                  <span class="h2 font-weight-bold mb-0"> {{bovinMort}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    M
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0" *ngIf="bovinGuerri > 1">Bovins guerries</h5>
                  <h5 class="card-title text-uppercase text-muted mb-0" *ngIf="bovinGuerri <= 1">Bovin guerrie</h5>
                  <span class="h2 font-weight-bold mb-0">{{bovinGuerri}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    G
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col col-md-3 col-lg-6 ">
      <ngx-maladie></ngx-maladie>
    </div>
    <div class="col col-md-3 col-lg-6">
      <ngx-charge-sante></ngx-charge-sante>
    </div>
  </div>
</div>