<div class="row">
  <div class="col col-lg-6  col-xxxl-4">
    <ngx-maladie></ngx-maladie>
  </div>
  <div class="col col-lg-6 col-xxxl-4">
    <ngx-charge-sante></ngx-charge-sante>
  </div>
  <div class="col col-md-3 col-xxxl-4">

  </div>
</div>
<div class="row">
  <div class="col col-lg-7 col-xxxl-4">
    <ngx-consultation></ngx-consultation>
  </div>
  <div class="col col-md-5 col-xxxl-4">
    <ngx-medicament></ngx-medicament>
  </div>
  <div class="col col-lg-7 col-xxxl-4">
    <ngx-maladie-detecter></ngx-maladie-detecter>
  </div>
  <div class="col col-md-5 col-xxxl-4">
    <ngx-medicament></ngx-medicament>
  </div>
  
</div>