<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
    <nb-card-front>
        <nb-card size="large">
           <ngx-charges-bovin></ngx-charges-bovin>
            <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
        <nb-card size="large">
            <ngx-charges-lait></ngx-charges-lait>
            <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
        </nb-card>
    </nb-card-back>
</nb-flip-card>