<nb-card>
  <nb-card-body>

    <label class="search-label" for="search">Recherche un bovin:</label>
    <input nbInput id="search" class="search-input" placeholder="Bovin....">&nbsp;&nbsp;&nbsp;&nbsp; le nombre de boin
    est <b>1452</b>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom bovin</th>
          <th scope="col">Situation</th>
          <th scope="col">Etat de santé</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of bovin">
          <th scope="row">{{ b.nom}}</th>
          <th>{{ b.situation}}</th>
          <th>{{ b.etatDeSante}}</th>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>