<nb-card>
  <nb-card-body>
    <input class="form-control" type="text" name="nom" placeholder="Rechercher un Bovin...." [(ngModel)]="nom"
      (ngModelChange)="Rechercher()" />
    <table class="table">
      <thead>
        <tr>
          <th scope="col" (click)="Trier('nom')">Nom bovin&nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col" (click)="Trier('situation')">Situation&nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col" (click)="Trier('etatDeSante')">Etat de santé&nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bovin of bovins | orderBy: key: reverse | paginate: {itemsPerPage:25,currentPage:p};">
          <th scope="row">{{ bovin.nom}}</th>
          <th>{{ bovin.situation}}</th>
          <th>{{ bovin.etatDeSante}}</th>
          <th><button class="btn btn-info" data-toggle="modal" data-target="#Modal_details">Détails</button></th>
        </tr>
      </tbody>
      <nb-select selected="1" class="float-right">
        <nb-option value="1">10</nb-option>
        <nb-option value="2">15</nb-option>
        <nb-option value="3">20</nb-option>
        <nb-option value="3">25</nb-option>
      </nb-select>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
  </nb-card-body>
</nb-card>

<div class="modal fade" id="mMdal_details" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-tiltle" id="exampleModalLabel">Details</h5>
        <button class="clode" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">Nom Bovin</div>
          <H5><b>Contenu sur les details d'un bovin</b></H5>
        </div>
      </div>
    </div>
  </div>
</div>