<nb-card>
    <nb-card-header><b>Cout de revient:</b>
        <nb-select selected="2">
            <nb-option value="1">2017</nb-option>
            <nb-option value="2">2018</nb-option>
            <nb-option value="3">2019</nb-option>
        </nb-select>
    </nb-card-header>
    <nb-card-body>
        <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Elements</th>
                <th scope="col">Bovins</th>
                <th scope="col">Laits</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cout production</td>
                <td>19 315 707 </td>
                <td>3 150 000</td>
              </tr>
              <tr>
                <td>Frais distribution</td>
                <td>300 000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Distribution commissionnaire</td>
                <td>704 000</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Cout de revient</td>
                <td>4 154 000</td>
                <td>19 315 707</td>
              </tr>
              <tr>
                <td>Chiffre d'affaire</td>
                <td>12 600 000</td>
                <td>15 308 00</td>
              </tr>
              <tr>
                <td>Resultat analythique</td>
                <td>8 446 000</td>
                <td>-4 007 707</td>
              </tr>
              <tr>
                <td>Resusltat analythique globale</td>
                <td colspan="2" align="center">4 438 293</td>
              </tr>
            
            </tbody>
          </table>
        <!-- <table border="2">
            <tr>
                <td rowspan="2">Elements</td>
                <td colspan="3">lait</td>
            </tr>
            <tr>
                <td>QU</td>
                <td>CU</td>
                <td>Montants</td>
            </tr>
        </table> -->
    </nb-card-body>
</nb-card>