<nb-card>
    <nb-card-header><b>liste des dépenses:</b>
        <!--<nb-select selected="2">
            <nb-option value="1">2017</nb-option>
            <nb-option value="2">2018</nb-option>
            <nb-option value="3">2019</nb-option>
            <nb-option value="4">2021</nb-option>
        </nb-select>-->
    </nb-card-header>
    <nb-card-body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Type depense </th>
                    <th scope="col">Libelle</th>
                    <th scope="col">Montant</th>
                    <th scope="col">date depense</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bovin of depense | paginate: {itemsPerPage:10,currentPage:p};">
                    <th scope="row">{{ bovin.type }}</th>
                    <th>{{ bovin.libelle }}</th>
                    <th>{{ bovin.montant | currency :   'XOF'  }}</th>
                    <th>{{ bovin.dateDepenses }}</th>

                    <!-- <th><button type="button" class="btn btn-info" (click)="open(content,idBovin)">Détails</button></th> -->
                </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </table>
    </nb-card-body>
</nb-card>