<!-- <div class="row">
  <div class="col col">
    <ngx-chiffre-affaire></ngx-chiffre-affaire>
  </div>
  <div class="col col">
    <ngx-paiement></ngx-paiement>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngx-cout-achat></ngx-cout-achat>
  </div>
</div>
<div class="row">
  <div class="col col-lg-7 col-xxxl-4">
    <ngx-cout-production></ngx-cout-production>
  </div>
  <div class="col col-md-5 col-xxxl-4">
    <ngx-revenu></ngx-revenu>
    <ngx-capacite></ngx-capacite>
  </div>
  
</div>
<div class="row">
  <div class="col col col-xxxl-4">
    <ngx-factures></ngx-factures>
  </div>
</div> -->


<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Chiffre d'affaire</h5>
                  <span class="h2 font-weight-bold mb-0">{{sommeca}} Fcfa</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentageLait < 0">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> {{pourcentageLait * (-1) | number:
                  '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentageLait >= 0">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{pourcentageLait | number:
                  '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Depenses mensuelle</h5>
                  <span class="h2 font-weight-bold mb-0">{{coutMois}} Fcfa</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentage < 0">
                <span class="text-success mr-2"><i class="fas fa-arrow-down"></i> {{pourcentage * (-1) | number:
                  '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentage >= 0">
                <span class="text-danger mr-2"><i class="fa fa-arrow-up"></i> {{pourcentage | number: '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Commandes</h5>
                  <span class="h2 font-weight-bold mb-0">{{nombrecommande}} </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentageCommande < 0">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> {{pourcentageCommande * (-1) | number:
                  '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentageCommande >= 0">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{pourcentageCommande | number:
                  '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Benefices</h5>
                  <span class="h2 font-weight-bold mb-0">{{sommeca - total }} Fcfa</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="((sommeca - total ) / total) * 100  < 0">
                <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i>{{ ((sommeca - total ) / total) * 100 *
                  (-1) | number: '2.2-2'}}%</span>
                <span class="text-nowrap">RSI</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="((sommeca - total ) / total) * 100  >= 0">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{ ((sommeca - total ) / total) * 100 |
                  number: '2.2-2'}}%</span>
                <span class="text-nowrap">RSI</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Ventes</h6>
              <h2 class="text-white mb-0">Ventes realisées</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"
                  (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}"
                    data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Lait</span>
                    <span class="d-md-none">L</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"
                  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}"
                    data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Bovin</span>
                    <span class="d-md-none">B</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Ventes</h6>
              <h2 class="mb-0">Nombre de commandes</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Les depenses de la ferme: <span class="total"> {{total}} F cfa</span></h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Type de depenses</th>
                <th scope="col">Montant depenses</th>
                <th scope="col">Pourcentages</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <th scope="row">
                  Achats bovins
                </th>
                <td>
                  {{bovin}} F cfa
                </td>

                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2"> {{bovin / total * 100 | number: '2.2-2'}} %</span>

                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width: {{bovin / total * 100}}%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Achats aliments
                </th>
                <td>
                  {{aliment}} F cfa
                </td>

                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2"> {{aliment / total * 100 | number: '2.2-2'}} %</span>

                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width:{{aliment / total * 100}}%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Autres depenses
                </th>
                <td>
                  {{autre}} F cfa
                </td>

                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2"> {{autre / total * 100 | number: '2.2-2'}} %</span>

                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width: {{autre / total * 100}}%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Masse salariale
                </th>
                <td>
                  {{masseSalaire}} F cfa
                </td>

                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2"> {{masseSalaire / total * 100 | number: '2.2-2'}} %</span>

                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width: {{masseSalaire / total * 100}}%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Moyen de paiement</h3>
            </div>

          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Type paiement</th>
                <th scope="col">Pourcentages</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of paiement">
                <th scope="row">
                  {{p.paiement}}
                </th>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{p.nombre / transaction * 100 | number: '2.2-2' }}%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width:{{ p.nombre / transaction * 100}}%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>