<div class="row">
  <div class="col col">
    <ngx-chiffre-affaire></ngx-chiffre-affaire>
  </div>
  <div class="col col">
    <ngx-revenu></ngx-revenu>
    <ngx-capacite></ngx-capacite>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngx-cout-achat></ngx-cout-achat>
  </div>
</div>
<div class="row">
  <div class="col col-lg-6">
    <ngx-cout-production></ngx-cout-production>
  </div>
  <div class="col col-lg-6">
    <ngx-livre></ngx-livre>
  </div>
</div>
<div class="row">
  <div class="col col col-xxxl-4">
    <ngx-factures></ngx-factures>
  </div>
</div>