<div class="row">
  <div class="col col-lg-6">
    <ngx-chiffre-affaire></ngx-chiffre-affaire>
  </div>
  <div class="col col-lg-6">
    <ngx-revenu></ngx-revenu>
    <ngx-capacite></ngx-capacite>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngx-depenses></ngx-depenses>
  </div>
  <div class="col">
    <ngx-livre></ngx-livre>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngx-comptes></ngx-comptes>
  </div>
</div>
<div class="row">
  <div class="col col-lg-6">
    <ngx-achats></ngx-achats>
  </div>
  <div class="col col-lg-6">
    <ngx-cout-production></ngx-cout-production>
  </div>
</div>
<div class="row">
  <div class="col col-lg-6">
    <ngx-budget></ngx-budget>
  </div>
</div>