<div class="row">
  <div class="col col-md-3 col-xxxl-4">
    <ngx-card-chiffre></ngx-card-chiffre>
  </div>
  <div class="col col-md-3 col-xxxl-4">
    <ngx-card-vente></ngx-card-vente>
  </div>
  <div class="col col-md-3 col-xxxl-4">
    <ngx-card-commande></ngx-card-commande>
  </div>
  <div class="col col-md-3 col-xxxl-4">
    <ngx-card-production></ngx-card-production>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <ngx-ventes></ngx-ventes>
  </div>
  <div class="col-lg-6">
    <ngx-graphe-production></ngx-graphe-production>
  </div>
</div>

<div class="row">
  <div class="col col-md-4 col-xxxl-4">
    <ngx-card-alimentation></ngx-card-alimentation>
  </div>
  <div class="col col-md-4 col-xxxl-4">
    <ngx-card-sante></ngx-card-sante>
  </div>
  <div class="col col-md-4 col-xxxl-4">
    <ngx-card-velage></ngx-card-velage>
  </div>
</div>
<div class="row">
  <div class="col col-md-4 col-xxxl-4">
    <ngx-periode></ngx-periode>
  </div>
  <div class="col col-md-4 col-xxxl-4">
    <ngx-phase></ngx-phase>
  </div>
  <div class="col col-md-4 col-xxxl-4">
    <ngx-demographie></ngx-demographie>
  </div>
</div>