<nb-card-header><b>Factures Bovins:</b>
</nb-card-header>
<nb-card-body>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">N° Facture</th>
                <th scope="col">Date commande</th>
                <th scope="col">Date de paiement</th>
                <th scope="col">Moyen de paiement</th>
                <th scope="col">Montant</th>
                <th scope="col">Details facture</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>N° 1</td>
                <td>19 315 707 </td>
                <td>3 150 000</td>
                <td>3 150 000</td>
            </tr>
        </tbody>
    </table>
</nb-card-body>