<nb-card>
  <nb-card-header>Consommation du jour: <b>{{date | date : 'fullDate' : 'fr'}}</b></nb-card-header>
  <nb-card-body>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom Aliment</th>
          <th scope="col">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let al of aliments ">
          <th scope="row">{{al.nomAlimentation}}</th>
          <th>{{al.quantite}} Kg</th>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>