<nb-card>
  <nb-card-header>Consommation du jour: <b>{{date | date : 'fullDate' : 'fr'}}</b></nb-card-header>
  <nb-card-body>


    <table class="table">
      <thead>
        <tr>
          <th scope="col" (click)="Trier('nomAlimentation')">Nom Aliment&nbsp;<i class="fa fa-sort"></i></th>
          <th scope="col" (click)="Trier('quantiteAlimentation')">Quantite&nbsp;<i class="fa fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let al of aliments ">
          <th scope="row">{{al.nomAlimentation}}</th>
          <th>{{al.quantiteAlimentation}} Kg</th>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>