<div class="header bg-gradient-warning pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col col-md-4 col-xxxl-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Totale</h5>
                  <span class="h2 font-weight-bold mb-0">{{quantiteLaitVendu + stock}} L</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentageProduction  < 0 ">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i>{{pourcentageProduction * (-1) |
                  number: '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentageProduction >= 0 ">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>{{pourcentageProduction |
                  number: '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col col-md-4 col-xxxl-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Stock</h5>
                  <span class="h2 font-weight-bold mb-0">{{stock}} L</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="PourcentageStock > 0">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> {{PourcentageStock |
                  number: '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="PourcentageStock < 0">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> {{PourcentageStock * -1 |
                  number: '2.2-2'}}%</span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col col-md-4 col-xxxl-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Quantité vendue</h5>
                  <span class="h2 font-weight-bold mb-0">{{quantiteLaitVendu}} L</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentageVenteLait > 0">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>{{pourcentageVenteLait |
                  number: '2.2-2'}}% </span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm" *ngIf="pourcentageVenteLait <  0">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i>{{pourcentageVenteLait * -1 |
                  number: '2.2-2'}}% </span>
                <span class="text-nowrap">Depuis le mois passé</span>
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col col-md-3 col-lg-6 ">
      <ngx-courbe-production></ngx-courbe-production>
    </div>
    <div class="col col-md-3 col-lg-6">
      <ngx-cout-periodicite></ngx-cout-periodicite>
    </div>
  </div>
</div>