<div class="row">
    <div class="col-xl-3 col-lg-6">
        <nb-card>
            <nb-card-body>
                je suis
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xl-3 col-lg-6">
        <nb-card>
            <nb-card-body>
                je suis
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xl-3 col-lg-6">
        <nb-card>
            <nb-card-body>
                je suis
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xl-3 col-lg-6">
        <nb-card>
            <nb-card-body>
                je suis
            </nb-card-body>
        </nb-card>
    </div>
</div>


<div class="row">
    <div class="col col-md-3 col-lg-6 ">
        <ngx-lait></ngx-lait>
        <ngx-courbe-production></ngx-courbe-production>
    </div>
    <div class="col col-md-3 col-lg-6">
        <ngx-stock-lait></ngx-stock-lait>
        <ngx-periodicite></ngx-periodicite>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6 col-xxxl-4">
        <ngx-charges-production></ngx-charges-production>
    </div>
</div>